# IDE settings #
###################
*.iml
*.idea
*.ipr
*.iws

# Compiled source #
###################
*.class
*.jar
*.war
*.Ist
# Logs and databases #
######################
*.log

*/target/**


# Other #
######################
lib/
.gitignore~
/student-accommodation-system-frontend/src/main/webapp/nbproject/private/