<div   ng-controller="MainCtrl">
    <div class="log-out text-right" div ng-show="isLoggedUser == true" >

        <button ng-click="logOut()">Log Out</button>
        <br>
        Hello {{username}}
        <br>
        <p style="font-size: 10px;">You have logged in as {{usertype}}</p>
    </div>
    <div ng-show="isLoggedUser == false" class="login-page">
        <div>
            <img class="welcome-img center-block" src="images/student-accommodation.png" alt="accommodation">
        </div>
        <div class="form">
            <form class="login-form" name="userLoginForm">
                <input type="text" name="username" ng-model="username" placeholder="username" required/>

                <input type="password" ng-model="password" name="password" placeholder="password" required/>

                <button ng-disabled="userLoginForm.$invalid" ng-click="loginUser()">login</button>
                <p class="message">Not registered? <a href="#/register">Create an account</a></p>
                <p class="message"><a href="#/forgotpassword">Forgot Password ?</a></p>

                <p class="text-danger" ng-show="loginFailed === true">username or password is incorrect</p>
            </form>
        </div>
    </div>

    <div ng-show="isLoggedUser == true" class="user-view" >
                    <button style="width:100%;" ng-click="pdf()">PDF REPORT</button>

        
        <div  class="left-block inline" ng-if="usertype !== 'student' && !isAddNewProperty" >         ̰
            <button style="width:100%;" ng-click="addNewProperty()">Add new property</button>
        </div>

        <div style="padding:2px;margin:0px;width:25%;" ng-show="fee && usertype !== 'student' && !isAddNewProperty" class="right-block property-list inline">
            <div class="text-center" > Your total fee amount = <b>{{fee}}</b> </div>

        </div>


        <div ng-show="usertype === 'student'">
            <h3>Available Properties</h3>
        </div>
        <div ng-show="usertype !== 'student' && !isAddNewProperty">
            <h3>Added Properties</h3>
        </div>

        <div ng-show="!isAddNewProperty" class="property-list inline">
            <input placeholder="search here..." style="font-family: 'Roboto', sans-serif;outline: 0;
                   background: #f2f2f2;width: 100%;border: 0;margin: 0 0 15px;
                   padding: 15px;box-sizing: border-box;font-size: 14px;" ng-model="search">

            <div ng-repeat="item in items| filter:search:strict"  class="property">

                <p class="inline property-name" > Name : <b>{{item.propertyName}}</b></p>
                <div >

                    <p class="inline info">Property Type : <b>{{item.propertyType}}</b></p>
                    <p class="inline info">Maximum Tenants : <b>{{item.maximumTenants}}</b></p>
                </div>
                <div >
                    <p class="inline info" >Rent Amount : <b>{{item.amountRent}}</b></p>
                    <p class="inline info">Status : <b>{{item.status}}</b></p>
                </div>
                <p style="width:100%;" class="inline info">Address : <b>{{item.location}}</b></p>
                <button style="width:40%;" class="right-block" ng-if="usertype !== 'student' && !isAddNewProperty" ng-click="edit(item)">Edit</button>
                <button class="center-block" ng-disabled="item.isPropertyRequested === true" ng-if="usertype === 'student'" ng-click="requestToView(item.id)">Request to View</button>

            </div>
            <div ng-if="items.length === 0"> 0 Properties added</div>


        </div>


        <div ng-show="usertype !== 'student' && !isAddNewProperty">
            <h3>Requests</h3>
        </div>
        <div ng-show="usertype !== 'student' && !isAddNewProperty" class="property-list">
            <div class="text-left" > You have {{requests.length}} {{(requests.length > 0) ? 'requests':'request'}}</div>
            <div ng-repeat="request in requests"  class="property">

                <p class="inline property-name" > Property Name : <b>{{request.properyId.propertyName}}</b></p>

                <div >
                    <p class="inline info" >Student Name : <b>{{request.user.name}}</b></p>
                    <p class="inline info">Email : <b>{{request.user.email}}</b></p>
                </div>
                <p class="inline info">Mobile Number : <b>{{request.user.mobileNumber}}</b></p>

            </div>
        </div>

        <div ng-show="usertype !== 'student' && isAddNewProperty" class="register property-list">

            <h3>Add Property</h3>
            <div class="form">
                <form class="addproperty-form">
                    <input type="text" ng-model="propertyName"  placeholder="property Name" required/>
                    <input type="text" ng-model="location"  placeholder="location"/>
                    <input type="text" ng-model="maximumTenants"  placeholder="maximum number of tenants"/>
                    <input type="text" ng-model="propertyType"  placeholder="Property Type"/>
                    <input type="text" ng-model="amountRent"  placeholder="rent amount"/>
                    <label class="text-left inline" for="singleSelect"> Availability: </label><br>
                    <select class="text-right inline" name="singleSelect" ng-model="select.singleSelect" required>
                        <option value="ACTIVE">Available</option>
                        <option value="INACTIVE">Not Available</option>
                    </select><br><br>


                    <button ng-disabled="addproperty - form.$invalid" ng-click="addProperty()">Add Property</button>
                </form>
            </div>
            <span style="color:#444444;font-size:12px;">** 100/= will be charged to post a property</span>

        </div>


    </div>
</div>