<div class="user-view" >

    <h3>User Views</h3>
    <div>

    </div>
    <div ng-repeat="item in items" class="property-list">
        <div class="property">
            <div class="inline">
                <p>propertyName : {{item.propertyName}}</p>
            </div>
            <div class="inline">
                <p>address : {{item.location}}</p>
            </div>

            <p>maximumTenants : {{item.maximumTenants}}</p>
            <p>amountRent : {{item.amountRent}}</p>
            <p> propertyType: {{item.propertyType}}</p>
            <p> status : {{item.status}}</p>
        </div>
        root.user{{user}}
      <button ng-if="root.user.userType === 'student'" ng-click="requestToView(item.id)">Request to View</button>

    </div>
</div>